# use the fast container-based test runner
sudo: false

language: go

go:
  - "1.10.x"

git:
  depth: 1

# Skip the install step. Don't `go get` dependencies
install: true

notifications:
  email: false

before_script:
  - pip install --user awscli
  - make setupTravis
  - make getDependencies
  - make zip

script:
  - make deployLambda
  - make test
  
after_script:
  - make destroyLambda